@using System.ComponentModel
@model GuestBook.Areas.Blogs.Models.ArchiveViewModel
@{
    IEnumerable<IGrouping<int, int>> blog = new BindingList<IGrouping<int, int>>();
    if (Model.ShowYear)
    {
        blog = Model.Blogs.Select(x => x.Year).GroupBy(x => x);
    }else if(Model.ShowMonth)
    {
        blog = Model.Blogs.Select(x => x.Month).GroupBy(x => x);
    }
    else if(Model.ShowDay)
    {
        blog = Model.Blogs.Select(x => x.Day).GroupBy(x => x);
    }
}
<style type="text/css">
    .float-right
    {
        float: right;
    }
</style>
<script type="text/javascript">
    function showList(year, month, date) {
        debugger;
        if (year) {
            var postData = { year: year };
            var getUrl = '@Url.Action("Archive", "Blog")';
            $.ajax({
                url: getUrl,
                type: 'POST',
                data: postData,
                success: function (data) {
                }
            });
        }
    }
</script>
<div id="blogArchive">
    <div class="float-right blogList">
        <span>Blog Archive</span>
        <div>
            <ul>
                @foreach (var item in blog)
                {
                    <li><span><a href="#" onclick="javascript:showList('@item.Key')">@item.Key</a></span>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
