@model GuestBook.Areas.Blogs.Models.ArchiveViewModel
@using System.Globalization
@using DTO
@{
    List<Blog> blog;
    IEnumerable<int> period;
    if (Model.ShowMonth)
    {
        period = Model.Blogs.Select(x => x.Month).ToList().Distinct();
    }
    else if (Model.ShowDay)
    {
        period = Model.Blogs.Select(x => x.Day).ToList().Distinct();
    }
    else
    {
        period = Model.Blogs.Select(x => x.Year).ToList().Distinct();
    }
}
<style type="text/css">
    .float-right
    {
        float: right;
    }
</style>
<script type="text/javascript">
    
</script>
<div id="blogArchive">
    <div class="float-right blogList">
        <span>Blog Archive</span>
        <div>
            <ul>
                @foreach (var item in period)
                {
                    string param = "'" + (Model.ShowYear ? item.ToString(CultureInfo.InvariantCulture) : null) + "','" + (Model.ShowMonth ? item.ToString(CultureInfo.InvariantCulture) : null) + "'," + (Model.ShowDay ? item.ToString(CultureInfo.InvariantCulture) : null);
                    <li><span><a href="#" onclick="javascript:showList(@param)">@item</a> </span></li>
                }
            </ul>
        </div>
    </div>
</div>
